/*---Стили для карточки товара на отдельной странице---*/

/*страница полностью*/
 .t-store__prod-snippet__container{
        padding-top: 20px;
        background-color: #edf9ff;
    } 
    
    .t-store__prod-snippet__container .t-container{
        padding: 60px;
        border-radius: 24px;
        background-color: #fff;
    }
    
    /*.t-store__relevants__container .t-container{*/
    /*    padding: 0;*/
    /*    background-color: transparent;*/
    /*}*/

/*Вам может понравится*/
.t-store__card__wrap_txt-and-btns{
    background-color: white;
}

.t-store__relevants-grid-cont .js-product{
    border-radius: 16px;
    overflow: hidden;
}

.t-store__relevants-grid-cont .js-product-controls-wrapper{
    display: none;
}

.t-store__relevants-grid-cont .js-store-prod-name{
    font-size: 16px !important;
}


/*Фотографии*/
.t-store__prod-popup__slider .t-slds__container {
    border-radius: 16px;
}

.t-slds__thumbsbullet.t-slds__bullet {
    border-radius: 8px;
    overflow: hidden;
}

.t-slds__thumbsbullet.t-slds__bullet_active .t-slds__thumbsbullet-border{
    border-radius: 8px;
    border-color: #1ab5f8 !important;
}

/*Стилизация табов*/
.js-store-tabs .t-store__tabs__list .t-store__tabs__item:nth-child(2){
    display: none;
}
.t-store__tabs__item-title{
    font-size: 16px;
    font-weight: 600;
}
.t-store__tabs__item {
    padding: 20px;
    background-color: #edf9ff;
    border-radius: 16px;
    margin-bottom: 10px;
}

.t-store__tabs__item-button.js-store-tab-button {
    border: none !important;
    padding: 0px !important;
}

.t-store__tabs__content {
    padding: 20px 0px 0px 0px;
    margin-bottom: 0 !important;
}

.t-store__tabs__content {
    font-size: 16px;
}
.t-store__tabs__content a {
    color: #1ab5f8 !important;
}

.t-store .t-store__tabs__close{
    transition: all 0.2s ease-in-out;
}

.t-store .t-store__tabs__close:after {
    background-color: #051e29 !important;
    transition: all 0.2s ease-in-out;
}

.t-store__tabs__item-button:hover .t-store__tabs__close-icon g g{
    stroke: white !important;
    transition: all 0.2s ease-in-out;
}

/*Кнопка Посмотреть схему*/
.t-store__prod-popup__info .js-store-prod-all-text{
    display: flex;
    flex-wrap: wrap;
}
.t-store__prod-popup__info .js-store-prod-all-text a{
    order:-1;
}

.js-store-prod-all-text a{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 100px;
    border:solid 1px #1ab5f8;
    font-weight:600;
    font-size: 14px;
    background-color: white !important;
    color: #1ab5f8 !important;
    margin: 0px 0 10px 0;
    transition: all 0.3s ease;
}
.js-store-prod-all-text a:hover{
    background-color: #1ab5f8 !important;
    color: white !important;
    transition: all 0.3s ease;
}

/*------------------*/

/*Стилизация блока справа с ценой и опциями*/

.t-store__prod-popup__info .js-product-controls-wrapper {
    padding: 0px 40px 20px 40px;
    background-color: #fff;
    border-radius: 0;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;     
}
.t-store__prod-popup__info .t-store__prod-popup__btn-wrapper {
    padding: 0 40px 40px 40px;
    background-color: #fff;
    border-radius: 0 0 16px 16px;
    margin-top: 0px !important;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.t-store__prod-popup__info .t-store__prod-popup__links-wrapper {
    display: none;
}
.t-store__prod-popup__info .t-store__prod-popup__title-wrapper {
    padding: 40px 40px 0 40px;
    background-color: #fff;
    border-radius: 16px 16px 0 0;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.t-store__prod-popup__info .js-store-price-wrapper.t-store__prod-popup__price-wrapper {
    padding: 0 40px 15px 40px;
    background-color: #fff;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;    
}

.t-store__prod-popup__info .js-product-controls-wrapper .t-product__option:first-child{
    margin-top: 0 !important;
}
.t-store__prod-popup__info .js-product-controls-wrapper .t-product__option:last-child{
    margin-bottom: 0 !important;
}
/*------------*/
.t-store__prod-popup__info .js-product-controls-wrapper .t-product__option:nth-child(3){
    margin-bottom: 0 !important;
    padding-bottom: 30px !important;
    /*border-bottom: 1px solid #1ab5f8 !important;*/
}
.t-store__prod-popup__info .js-product-controls-wrapper .t-product__option:nth-child(4){
    margin-bottom: 0 !important;
    padding-top: 20px !important;
}
.t-store__prod-popup__info .js-product-controls-wrapper .t-product__option:nth-child(4):before{
    content: "Дополнительные опции";
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #3e667b;
    font-family: "Manrope";
    position: absolute;
    top:-20px;
}

.t-store__prod-popup__text{
    font-size: 16px;
}
.js-store-prod-all-charcs{
    margin-top: 20px;
    opacity: 0.8;
    line-height: 1.4;
}
/*---------------*/
/*стиль карточки товара в каталоге*/
.js-product-edition-option{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.t-product__option-variants{
    display: flex;
    gap:10px;
}
.t-product__option-title{
    font-weight: 600;
    font-size: 12px;
}

.t-store__card__sku{
    display: none;
}
.t-product__option-item{
    margin:0 !important;;
    border: none !important;
    min-width: auto !important;
    min-height: auto !important;
    padding: 4px 8px !important;
    background-color: #fff !important;
    color: #1ab5f8 !important;
    border-radius: 8px;
    outline: 1px solid #e8e8e8 !important;
}

.t-product__option-item_active{
    outline: 1px solid #1ab5f8 !important;
    border-radius: 6px;
}
.t-product__option-item span{
    color: #1ab5f8 !important;
}

.t-product__option-item_active .t-product__option-title{
    color: #1ab5f8 !important;    
}

.js-store-price-wrapper {
    /*position: absolute;*/
    /*top: -82px;*/
    /*left: 30px;*/
    /*padding: 10px 15px;*/
    /*background-color: red;*/
    /*border-radius: 100px;*/
    /*color: white;*/
    /*z-index: 2;*/
}

@media screen and (max-width: 1360px){
    .js-store-product.js-product.t-store__product-snippet .t-container{
    max-width: 1080px;
    }
    .t-store__prod-snippet__container .t-container {
    padding: 60px 40px 60px 40px;
    }
    .t-store__prod-popup__slider{
        max-width: 510px;
        margin-right: 10px;
    }    
    .t-store__prod-popup__info{
        max-width: 510px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1200px){
     .js-store-product.js-product.t-store__product-snippet .t-container{
        max-width: 920px;
    } 
    .t-store__prod-snippet__container .t-container {
        padding: 40px 30px 40px 30px;
    }
        .t-store__prod-popup__slider{
        max-width: 430px;
        margin-right: 10px;
    }    
    .t-store__prod-popup__info{
        max-width: 430px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1000px){
     .js-store-product.js-product.t-store__product-snippet .t-container{
        max-width: 668px;
    } 
    .t-store__prod-snippet__container .t-container {
        padding: 40px;
    }
        .t-store__prod-popup__slider{
        max-width: 668px;
        margin: 0px;
        margin-bottom: 20px;
    }    
    .t-store__prod-popup__info{
        max-width: 668px;
        margin: 0px;
    }
    
    .js-store-tabs{
        margin: 0;
    }
}

@media screen and (max-width: 980px){
        .t-store__prod-popup__slider{
        padding: 0 !important;
    }    
    .t-store__prod-popup__info{
        padding: 0 !important;
    }
    .js-store-tabs{
        padding: 0 !important;
    }
}

@media screen and (max-width: 980px){
    .js-store-product.js-product.t-store__product-snippet .t-container{
        max-width: 748px;
        box-sizing: border-box;
    } 
    .t-store__prod-popup__slider,
    .t-store__prod-popup__info{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .js-store-product.js-product.t-store__product-snippet .t-container{
        max-width: 460px;
    }
    .t-store__prod-snippet__container .t-container {
        padding: 30px;
    }
}

@media screen and (max-width: 480px){
    .js-store-product.js-product.t-store__product-snippet .t-container{
        width: auto;
        border-radius: 0 !important;
    }
    .t-store__prod-snippet__container .t-container {
        padding: 20px;
    }
    
    .t-store__prod-popup__info .t-store__prod-popup__title-wrapper {
    padding: 20px 20px 0 20px;
    }
    .t-store__prod-popup__info .js-store-price-wrapper.t-store__prod-popup__price-wrapper {
    padding: 0 20px 15px 20px;
    }
    .t-store__prod-popup__info .js-product-controls-wrapper {
    padding: 0px 20px 20px 20px;
    }
    .t-store__prod-popup__info .t-store__prod-popup__btn-wrapper {
    padding: 0 20px 20px 20px;
    }
    
    .t-store__prod-popup__info .js-store-prod-name,
    .t-store__prod-popup__info .t-store__prod-popup__sku{
        padding-bottom: 10px;
    }
    
    .t-store__prod-popup__info .js-store-prod-price{
        font-size: 18px;
    }
    .t-slds__thumbsbullet-wrapper {
        padding:0 !important;
    }
}
/*Стиль выпадающих списков в карточке товара*/

.js-product .t-product__option-select {
    border: 1px solid #1ab5f8 !important;
    background-color: white !important;
    color: #1ab5f8 !important;
    border-radius: 8px;
    padding: 2px 30px 2px 10px;
    font-weight: 600;
    font-size: 12px;
}
.js-product .t-product__option-variants:after {
    content: ' ';
    border-color: #1ab5f8 transparent transparent transparent;
}

.js-product-controls-wrapper .js-product-option:first-child{
    border: 1px solid red;
}

/*варианты*/
.t-store__prod-popup__info .t-product__option-item{
    background-color: white !important;
}



/*скрытие дополнительных опций в каталоге*/

.t778 .js-product-option.t-product__option{
    display: none;
}
.js-product-option.t-product__option {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.t-product__option-variants.t-product__option-variants_regular {
    /*min-width: 120px;*/
}


/*избранное*/

.t1002__addBtn{
    background-color: white !important;
    border: 1px solid #1ab5f8;
}

/*Добавлено в избранное*/
.t1002__bubble{
    background-color:#1ab5f8;
    border-radius: 16px;
}

.t1002__bubble-text{
    line-height: 1.5;
    font-family: "Manrope";
    font-weight: 600;
}


/*Стилизация карточки товара на отдельной странице*/
.t-store__prod-popup__info .js-product-edition-option {
    /*display: flex !important;*/
    /*flex-wrap: wrap !important;*/
    /*gap:3px;*/
    /*margin-bottom: 15px;*/
}
/*.t-product__option-item_buttons{*/
/*    outline: 1px solid #e8e8e8 !important;*/
/*}*/
.t-store__prod-popup__info .js-product-edition-option-name {
    /*width: 100%;*/
}

.t-store__prod-popup__info .js-product-option {
    /*display: flex !important;*/
    /*flex-wrap: wrap !important;*/
    /*gap:5px;*/
    /*margin-bottom: 15px;*/
}

.t-store__prod-popup__info .js-product-option-name {
    /*width: 100%;*/
}

/*Размер текста опций*/
.t-store__prod-popup__info .js-product-edition-option-name,
.t-store__prod-popup__info .js-product-option-name,
.t-store__prod-popup__info .t-product__option-title,
.t-store__prod-popup__info .js-product-option-variants{
    font-size: 15px !important;
    font-weight: 500;
}

/*Кнопка в корзину*/
.t-store__prod-popup__info .t-store__prod-popup__btn{
    background-color:#1ab5f8 !important;
    color: white !important;
}
@media (min-width:480px) and (max-width:960px){
    .t706__cartpage-products {
        padding-bottom: 1px;
    }
        .t706__cartpage-totals{
        position: relative !important;
        padding: 20px !important;
        border-top: solid 1px #1ab5f8 !important;
        margin: 10px 0 10px 0 !important;
    }
    .t706__cartpage-open-form-wrap {
        margin-top: 10px;
    }
    .t706__product {
    margin-top: 10px !important;
    }
}
@media screen and (max-width: 480px){
        .js-store-prod-text{
        font-size: 14px;
    }
    .t-store__prod-popup__info .js-product-edition-option-name, 
    .t-store__prod-popup__info .js-product-option-name, 
    .t-store__prod-popup__info .t-product__option-title, 
    .t-store__prod-popup__info .js-product-option-variants {
        font-size: 14px !important;
        font-weight: 500;
    }
    .t706__cartpage-products{
        padding-bottom: 1px;
    }
    .t706__cartpage-totals{
        position: relative !important;
        padding: 20px !important;
        border-top: solid 1px #1ab5f8 !important;
        margin: 10px 0 10px 0 !important;
    }
    .t706__product {
    margin: 15px 0;
}

/*Выпадающие списки в карточке товара*/
    .js-product .t-product__option-variants:after {
    margin-top: 12px !important;
}
}


/*Скидки в каталоге товара*/
.js-store-price-wrapper.t-store__card__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
}
.t-store__card__price_old,
.js-store-prod-price-old{
    font-size: 14px !important;
    font-weight: 400 !important;
}

.t-store__card__mark-wrapper {
    left: 15px !important;
    bottom: 15px !important;
    top: inherit;
}

.t-store__card__mark {
    height: auto;
    width: auto;
    padding: 4px 8px;
    background-color: #ff5252 !important;
    font-family:Manrope;
    font-size: 14px;
    font-weight: 500;
}


.t-store__relevants__container .t-store__relevants-grid-cont .t-slds .t-container{
    padding: inherit !important;
}
.t-store__relevants__container .t-container{
    padding: inherit !important;
    background-color: inherit !important;
}
@media screen and (max-width: 480px){
    .t-store__relevants__title{
        margin: 40px 0 20px;
    }
    
        .t-store__relevants__container .t-container .t-col{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .t-store__relevants-grid-cont .t-slds__container .t-slds__item .t__slds-wrapper .js-product {
        padding: 0 !important;
    }
    
    .t-store__relevants-grid-cont .t-slds__container{
        border-radius: 16px;
    }

}


/*Стиль потоков*/
.t-feed{
    background-color: #edf9ff;
    padding: 10px 0 80px 0;
}
.t-feed__post-popup__content img {
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
}
.t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
}
.t-feed__post-popup.t-popup_show{
    /*padding: 15px 0 80px 0;*/
}
.t-feed__post-popup__container {
    margin-top: 20px !important;
}

.t-feed__post-popup__close-wrapper {
    background-color: white !important;
    border-bottom: 0 !important;
}

.js-feed-close-text {
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 500;
}
@media screen and (min-width: 1360px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static {
    max-width: 1320px;
}
}

@media screen and (max-width: 1360px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
        max-width: 1160px;
    }
}
@media screen and (max-width: 1200px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
        max-width: 980px;
    }
}
@media screen and (max-width: 1000px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
        max-width: 748px;
    }
    .t-feed__post-popup__container {
        padding: 30px !important;
    }
    .t-feed__post-popup__content-wrapper {
    padding: 0 !important;
}
}
@media screen and (max-width: 768px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
        max-width: 460px;
        margin: 0 auto;
    }
        .t-feed{
        padding: 10px 0 60px 0;
    }
}
@media screen and (max-width: 480px){
    .t-feed__post-popup__container.t-container.t-popup__container.t-popup__container-static{
        max-width: 100%;
        /*padding: 20px;*/
        
    }
    .t-feed__post-popup.t-popup_show {
        background-color: #ffffff !important;
        display: block;
        overflow: hidden;
        border-radius: 16px;
        margin: 0 10px;
        padding: 0 !important;
    }
    .t-feed{
        padding: 20px 0 60px 0;
    }
    .t-feed__post-popup__container {
    margin-top: 0px !important;
}
    
}


.js-store-prod-name,
.js-store-prod-descr{
    overflow-wrap: anywhere;
}

body::-webkit-scrollbar {
  width: 6px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #f7f7f7;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #1ab5f8;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  /*border: 3px solid orange;   padding вокруг плашки */
}



/*body::-webkit-scrollbar-thumb {  плашка-бегунок */
/*  background: #1ab5f8;*/
/*  border-radius: 100px;*/
  
/*}*/
/*.t-store__parts-switch-wrapper::-webkit-scrollbar {*/
  /*width: 0;*/
/*  height: 6px;*/
/*}*/

